.header__title {
    font-size: 24px;
}

.confirm__content {
    width: 100%;
}

.confirm-table__header{
    width: 30%;
    height: 70px;
    font-size: 14px;
    padding: 10px 0 0 0;
    text-align: left;
}

.confirm-table__header--textarea {
    width: 30%;
    font-size: 14px;
    padding: 0 0 50px 0;
    text-align: left;
}

.confirm-table__text{
    width: 100%;
    text-align: left;
    font-size: 14px;
    padding: 10px 0 0 0;
    text-wrap: wrap;
}

.confirm-table__textarea {
    width: 100%;
    text-align: left;
    font-size: 14px;
    padding: 10px 0 0 0;
    text-wrap: wrap;
    margin: 65px 0 0 0;
}

.confirm-table__text input {
    width: 100%;
    outline: none;
    border: none;
}

.confirm-table__textarea textarea {
    width: 100%;
    height: 100px;
    margin: 25px 0 0 0;
    overflow-wrap: break-all;
    outline: none;
    border: none;
}

.form__button-submit {
    width: 150px;
    height: 40px;
    background: #000;
    border: solid 1px #AAA;
    border-radius: 5px;
    cursor: pointer;
    color: #FFF;
    margin: 30px 0 0 0;
    font-weight: bold;
}

.fix-link__button {
    border: none;
    background: none;
    text-decoration: underline;
}