.content__thanks {
    height: 800px;
    padding: 50% 0;
}

.thanks__message {
    font-size: 14px;
}

.form__button-submit {
    width: 150px;
    height: 40px;
    background: #000;
    border: solid 1px #AAA;
    border-radius: 5px;
    cursor: pointer;
    color: #FFF;
    margin: 30px 0 0 0;
    font-weight: bold;
}